.pane{
  border: 1px solid black;
  height: 155px;
  margin: .5%;
  padding-bottom: 1px;
  background-color: #668B8B;
}
.divider{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
#body{
  background-color: #7A8B8B;
}

#proIntInput{
  width: auto;
}
